.settingsFields{
	-fx-background-color: transparent;
}
.buttonOption {
	-fx-background-color: transparent;
	padding: 0;
}
.buttonOption:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: transparent}
 .table-view .table-column {
  -fx-alignment: CENTER;
}

.combo-box .list-cell {
    -fx-alignment: center;
}
.toolBar {
	-fx-background-color: transparent;
}

.tab-down-button {
-fx-padding: 0;
}

.tab-down-button .arrow {
-fx-padding: 0;
}

.combo-box:disabled, .combo-box > * {
	-fx-opacity: 1.0;
}