
 .line-separator {
 	-fx-background-color: #0093ff;
 }
.buttonHighlight {
	-fx-background-color: -fx-shadow-highlight-color, #0093ff, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.popup {
    -fx-background-color: white;
    -fx-text-fill:black;
    -fx-padding: 10;
    -fx-font-size: 16;
    -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
  -fx-border-color: #0093ff;
}
.toast {
    -fx-background-color: white;
    -fx-text-fill:black;
    -fx-padding: 6;
    -fx-font-size: 16;
    -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
  -fx-border-color: #0093ff;
}
.root{
    -fx-font-size: 12pt;
}
.dialog-pane {
	-fx-border-color: #0093ff;
}
.User-Page-Info:disabled {
	-fx-text-fill: black;
	-fx-opacity: 1.0;
}
.shoppingcart .list-cell 
{
  -fx-font: 20pt "Arial";
}

.banner-image {
	-fx-text-fill: red;
	-fx-font: 60pt "Arial";
}
.default-color0.chart-bar {-fx-bar-fill: #FF0000;}
.default-color1.chart-bar {-fx-bar-fill: #5EBD9B;}
.default-color2.chart-bar {-fx-bar-fill: #B04A8A;}
.default-color3.chart-bar {-fx-bar-fill: #C7894A;}
.default-color4.chart-bar {-fx-bar-fill: #BCBD46;}
.default-color5.chart-bar {-fx-bar-fill: #EFFF00;}
.default-color6.chart-bar {-fx-bar-fill: #323232;}
.default-color7.chart-bar {-fx-bar-fill: #4536A1;}
.default-color8.chart-bar {-fx-bar-fill: #4A55C7;}
.default-color9.chart-bar {-fx-bar-fill: #5EBD9B;}
.default-color10.chart-bar {-fx-bar-fill: #B04A8A;}
.default-color11.chart-bar {-fx-bar-fill: #C7894A;}
.default-color12.chart-bar {-fx-bar-fill: #FF0000;}
.default-color13.chart-bar {-fx-bar-fill: #17FF00;}
.default-color14.chart-bar {-fx-bar-fill: #4A55C7;}
.default-color15.chart-bar {-fx-bar-fill: #C83D09;}