 .line-separator {
 	-fx-background-color: rgb(50,5,5);
 }

.root{
	-fx-focus-color: rgb(30,30,30);
	-fx-accent: rgb(50,5,5);
    -fx-base: rgb(30, 30, 30);
    -fx-font-size: 12pt;
    -fx-fill: rgb(0,0,0);
    -fx-background: rgb(30, 30, 30);
}

.tab{
	-fx-base: rgb(50,5,5);
}
.buttonHighlight {
	-fx-background-color: -fx-shadow-highlight-color, rgb(50,5,5), -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.toast {
    -fx-background-color: black;
    -fx-text-fill:red;
    -fx-padding: 6;
    -fx-font-size: 16;
    -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}
.shoppingCartList .list-cell, .shoppingCartList{
	-fx-background-color: transparent;
	-fx-text-fill: white;
}
.shoppingCartList .list-cell:filled:selected:focused, .shoppingCartList.list-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.dialog-pane {
	-fx-border-color: black;
}

.custom-color-dialog > .color-rect-pane {
	-fx-background-color: yellow;
}
.password-link {
	-fx-text-fill: white;
}
.password-link:hover {
	-fx-text-fill: white;
}

.User-Page-Info:disabled {
	-fx-text-fill: black;
	-fx-opacity: 1.0;
}
.shoppingcart .list-cell 
{
  -fx-font: 20pt "Arial";
}

.banner-image {
	-fx-text-fill: red;
	-fx-font: 60pt "Arial";
}


.default-color0.chart-bar {-fx-bar-fill: #B51209;}
.default-color1.chart-bar {-fx-bar-fill: #EBC74B;}
.default-color2.chart-bar {-fx-bar-fill: #271B9B;}
.default-color3.chart-bar {-fx-bar-fill: #9B304F;}
.default-color4.chart-bar {-fx-bar-fill: #E8681E;}
.default-color5.chart-bar {-fx-bar-fill: #95069B;}
.default-color6.chart-bar {-fx-bar-fill: #74B2EB;}
.default-color7.chart-bar {-fx-bar-fill: #4DE53A;}
.default-color8.chart-bar {-fx-bar-fill: #2E8546;}
.default-color9.chart-bar {-fx-bar-fill: #93ACBS;}
.default-color10.chart-bar {-fx-bar-fill: #875D4A;}
.default-color11.chart-bar {-fx-bar-fill: #FF009E;}
.default-color12.chart-bar {-fx-bar-fill: #FF0000;}
.default-color13.chart-bar {-fx-bar-fill: #17FF00;}
.default-color14.chart-bar {-fx-bar-fill: #4A55C7;}
.default-color15.chart-bar {-fx-bar-fill: #C83D09;}
.level-legend {
  -fx-padding: 10; 
  -fx-border-width: 2; 
  -fx-background-color: rgba(211, 211, 211, 0.5); 
  -fx-border-color: derive(rgba(211, 211, 211, 0.7), 10%);
}
/*
.default-color0.chart-bar {-fx-bar-fill: #FF0000;}
.default-color1.chart-bar {-fx-bar-fill: #5EBD9B;}
.default-color2.chart-bar {-fx-bar-fill: #B04A8A;}
.default-color3.chart-bar {-fx-bar-fill: #C7894A;}
.default-color4.chart-bar {-fx-bar-fill: #BCBD46;}
.default-color5.chart-bar {-fx-bar-fill: #EFFF00;}
.default-color6.chart-bar {-fx-bar-fill: #323232;}
.default-color7.chart-bar {-fx-bar-fill: #4536A1;}
.default-color8.chart-bar {-fx-bar-fill: #4A55C7;}
.default-color9.chart-bar {-fx-bar-fill: #5EBD9B;}
.default-color10.chart-bar {-fx-bar-fill: #B04A8A;}
.default-color11.chart-bar {-fx-bar-fill: #C7894A;}
.default-color12.chart-bar {-fx-bar-fill: #FF0000;}
.default-color13.chart-bar {-fx-bar-fill: #17FF00;}
.default-color14.chart-bar {-fx-bar-fill: #4A55C7;}
.default-color15.chart-bar {-fx-bar-fill: #C83D09;}
* */
